@import '~antd/dist/antd.css';

$primary-color: #20dac2;
$primary-color-dark: #09bfa7;

.fa-solid {
  color: $primary-color-dark;
}

.full-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-boundry {
  flex-direction: column;
  h2 {
    color: red;
  }
}

.ant-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ant-modal {
  border-radius: 20px;
  .ant-modal-title {
    color: white;
    text-align: center;
  }
  .ant-modal-content {
    border-radius: 10px;
  }
  .ant-modal-header {
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    padding: 48px 24px 0px;
  }
  .ant-table-thead > tr > th {
    color: white;
    background: $primary-color;
    border: none;
  }
  .ant-table-tbody > tr > td {
    color: white;
    background: $primary-color-dark;
    border: none;
  }
  .ant-table-tbody > tr:hover > td {
    color: white;
    background: $primary-color;
    border: none;
  }
}

.user-form-modal {
  .ant-modal {
    .ant-card {
      background: $primary-color-dark;
      border: none;
    }
    .ant-typography {
      color: white;
    }
    .ant-modal-header {
      background: $primary-color-dark;
    }
    .ant-modal-body {
      background: $primary-color-dark;
      border-radius: 0 0 10px 10px;
    }
  }
}

.user-dashboard {
  .ant-modal {
    .ant-typography {
      color: white;
    }
    .ant-modal-header {
      background: $primary-color-dark;
    }
    .ant-modal-body {
      background: $primary-color-dark;
      border-radius: 0 0 10px 10px;
    }
  }
}

.ant-btn-primary {
  background: $primary-color;
  border-color: $primary-color;
}

.ant-btn-primary:hover {
  background: $primary-color;
  border-color: $primary-color;
}

.ant-btn-primary:focus {
  background: $primary-color;
  border-color: $primary-color;
}

.ant-card-head-title {
  color: $primary-color;
}

h2.ant-typography {
  color: $primary-color;
  text-align: center;
}

.app-dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

#login {
  .ant-input-affix-wrapper {
    background: #f0f0f0;
    border-radius: 25px;
    border: none;
  }
  .ant-form-item-control-input {
    width: 100%;
  }
  .ant-input {
    background: #f0f0f0;
  }
  .ant-btn {
    width: 50%;
    border-radius: 10px;
  }
}

.user-dashboard-button {
  height: 100%;
  border-radius: 10px;
}

.ant-picker {
  border-radius: 25px;
  border: none;
  width: 250px;
}

.ant-input {
  border-radius: 25px;
  border: 1px solid $primary-color;
  width: 250px;
}

.availability-list {
  h4 {
    margin: 0;
  }
  .ant-card-body {
    padding: 24px 12px;
  }
  .title-container {
    padding: 6px;
    background: $primary-color;
  }
  .names-container {
    display: flex;
    flex-direction: column;
    padding: 32px 6px;
    color: white;
  }

  .ant-typography {
    color: white;
    line-height: 28px;
  }
}
